---
name: Setup Repository
on:
  push:
    branches:
    - 'main'
permissions: {}
jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
    if: ${{ !startsWith(github.repository, 'takumin/boilerplate-golang-cli') }}
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        persist-credentials: false
    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: 'go.mod'
    - name: Setup Tools
      run: go install github.com/sirkon/go-imports-rename@latest
    - name: Setup Repository
      run: ./scripts/setup-repository.bash
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Cleanup Boilerplate
      run: |
        rm .github/workflows/setup-repository.yml
        rm scripts/setup-repository.bash
    - name: Reinitialize Repository
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |-
        git remote set-url origin "https://github-actions:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        git add .
        git commit -m 'Reinitialize commit'
        git push
